@import "stadion.css";

h1, h2, h3 {
	font-family: var(--header-font) !important;
	font-weight: 500;
}

.card-img-container {
	position: relative;
}

.card-img-top {
	aspect-ratio: 4 / 3;
	object-fit: cover;
	object-position: left top;
}

.card-img-alt {
	position: absolute;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.card {
	transition: scale 0.3s ease;
}

.card-team:hover .card-img-container img.card-img-alt {
	opacity: 1;
}

.card:hover {
	scale: 102%;
}

.nodecoration {
	color: var(--color-secondary-offblack);
}

.nodecoration:hover {
	text-decoration: none;
	color: var(--color-secondary-offblack);
}

#logos {
	margin-top: 5rem;
}

.logo {
	object-position: center center;
	object-fit: contain;
	padding: 15px;
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.download-button {
	background-color: var(--header);
	padding: 15px;
	font-size: 1.25rem;
	border-radius: 20px;
	border: none;
	box-shadow: none;
	transition: all 0.15s ease;
}

.download-button:hover {
	background-color: var(--accent);
	box-shadow: 2px 2px 5px black;
}